$buttonTypeMap: (
  default: ( color: #333, backgroundColor: transparent ),
  danger: ( color: #fff, backgroundColor: #d32c46 ),
  primary: ( color: #fff, backgroundColor: #009dd8 ),
);

$buttonSizeMap: (
  default: 1.5em,
  small: 1em,
  large: 2em,
);

.Button {
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border: 1px solid #333;

  @each $type, $row in $buttonTypeMap {
    &[data-type="#{$type}"] {
      color: map-get($row, color);
      background-color: map-get($row, backgroundColor);
      border: 1px solid transparent;
    }
  }

  @each $key, $size in $buttonSizeMap {
    &[data-size="#{$key}"] {
      border: 1px solid transparent;
      width: $size * 4;
      padding: $size * 0.5;
    }
  }
}
