$buttonTypeMap: (
  default: ( color: #333, backgroundColor: transparent, borderColor: #333 ),
  danger: ( color: #fff, backgroundColor: #d32c46, borderColor: transparent ),
  primary: ( color: #fff, backgroundColor: #009dd8, borderColor: transparent ),
);

.Button {
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
  border: 1px solid transparent;
  width: 8em;
  padding: 1em;
  font-size: 1.2em;

  @each $type, $row in $buttonTypeMap {
    &[data-type="#{$type}"] {
      color: map-get($row, color);
      background-color: map-get($row, backgroundColor);
      border: 1px solid map-get($row, border);
    }
  }
}
